@font-face {
  font-family: 'Inter';
  font-weight: 100;
  font-display: swap;
  src: url('/fonts/inter_100.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-weight: 200;
  font-display: swap;
  src: url('/fonts/inter_200.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-weight: 300;
  font-display: swap;
  src: url('/fonts/inter_300.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/inter_400.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/inter_500.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-weight: 600;
  font-display: swap;
  src: url('/fonts/inter_600.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/inter_700.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-weight: 800;
  font-display: swap;
  src: url('/fonts/inter_800.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-weight: 900;
  font-display: swap;
  src: url('/fonts/inter_900.woff2') format('woff2');
}
